.title{
    margin-left: 400px;
    margin-top: 30px;
    font-size: 60px;
}
.logo{
    width: 120px;
    height: 90px;
    margin: 10px;
    cursor: pointer;
}
/* YourComponent.css */
.nav-items {
  display: flex;
  align-items: end; /* Vertically center the items */
  margin-left: 70px;
  cursor: pointer;
  /* font-size: larger; */
  /* font-size: 80px; */
}

.horizontal-list {
  list-style: none; /* Remove default list styles */
  display: flex;
  gap: 20px; /* Adjust the gap between items as needed */
  color: #fff;
}

.horizontal-list li {
  padding: 0; /* Remove default padding */
}
  .header{
    background-color: rgb(0, 0, 0);
    color: #d9d9d9;
    display: flex;
    
  }
  .nav-item{
    color: #fff;
    text-decoration: none;
  }