*{
  margin: 0;
}
.banner{
    height: 600px;
    width: 100%;
    color: #fff;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    background-attachment: fixed;
    background-size: cover;
    /* background-position: center; */
    margin-top: 0;
    
}

.banner p{
    width: 80%;
    padding: 10%;
    /* padding-top: 15%; */
    
    /* margin-top: 90px; */
    margin-left: 150px;
}
.offer{
  padding-left: 100px;
  padding-right: 100px;
}
.offer h3{
  margin-left: 150px;
  margin-top: 30px;
}

.offer-list{
  margin-top: 50px;
  display: flex;
  /* height: 250px; */
  overflow: hidden;

}
.image-container{
  margin-top: 50px;
  display: flex;
  height: 300px;
  
  /* overflow: hidden; */
}
.offer-list img{
  margin-left: 20px;
  cursor: pointer;
}
.offer-list :hover{
  transform: scale(0.95);

}
.right-arrow{
  margin-left: 1100px;
  margin-top: 10px;
  
}
.body{
   
    /* height: 800px; */
    margin: 50px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    text-align: center; 
    justify-content: center;
    /* margin-top: 100px; */
  
    
}
.body h1{
  /* margin-bottom: 100px; */
  margin-top: 50;
  position: absolute;
}
.restroImg{
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.restaurant-cards {
  display: flex;
  flex-wrap: wrap;
    /* text-decoration: none; */
}
.restaurant-card p{
  /* color: black; */
  text-decoration: none;
}
.restaurant-link {
  text-decoration: none; /* Remove underline */
  color: black; /* Set text color to black */
}
.restaurant-card {
  height: 320px;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 10px;
  font-size: smaller;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  /* text-decoration: none; */
  /* transition: transform 0.3s ease;
  display: flex;
  flex-wrap: wrap; */


}
.restaurant-cards:hover .restaurant-card{
  transform: scale(0.90);

}